header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

* {
    box-sizing: border-box;
}

body {
    font-family: Josefin sans;
    margin: 0;
    overflow-x: hidden;

    display: grid;
    grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
    grid-template-rows: auto;
    grid-template-areas:
        ". header header header header ."
        ". main main main main ."
        ". footer footer footer footer .";

}

header {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto;
}

.single-artist {
    width: 100%;
    height: auto;
    background-color: #e7f1f3;
}


