/*
=======
>>>>>>> responsive
header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}
<<<<<<< HEAD
*/
=======* {
    box-sizing: border-box;
}

body {
    font-family: Josefin sans;
    margin: 0;
    overflow-x: hidden;


    /*
  display: grid;
=======
    display: grid;
>>>>>>> responsive
    grid-template-columns: 5% 1fr 1fr 1fr 1fr 5%;
    grid-template-rows: auto;
    grid-template-areas:
        ". header header header header ."
        ". main main main main ."
        ". footer footer footer footer .";
*/

}

header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px auto;
}



header > .navigation-bar {
    grid-column: 12/-1;
    width: 100%;
    z-index: 120;
    display: flex;
    background: none;
}

header > .navigation-bar .burger {

    width: 35px;
    z-index: 130;
    margin-top: 15px;
    cursor: pointer;
}

header .logo {
    background-image: url(LogoImage/KopenhagenArt_logo-01.svg);
    background-repeat: no-repeat;
    width: 300px;
    height: 220px;
    margin: 0px;
}

header > .logo-wrapper {
    grid-column-start: 1;
    grid-column-end: 3;

}

/********Navigation ********/
header nav a {
    font-size: 2rem;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    transition: color 0.2s 0.1s;
    z-index: 100;

}

header nav a:hover {
    color: gray;
}

header nav .active {
    font-weight: bold;

}





h1 {
    font-size: 50px;
    width: 50%;
    height: auto;
    position: relative;
    display: grid;
}

.border {
    width: 100%;
    height: 100px;
    border-left: 10px solid;
    border-top: 10px solid;
    border-bottom: 10px solid;
    position: relative;
    color: #D1A343;
}


header nav {
    position: absolute;
    right: -140vw;
    z-index: 100;
display: none;
    background: white;
    width: 100vw;
    height: 100vh;
    padding: 4rem;

    transition: transform 1s;

}

header nav.open {
        display: flex;

    transform: translateX(-140vw);
    justify-content: center;
    flex-flow: column;
    align-items: center;
}

/********** Burger *********/

svg rect {
    transition: all 0.2s;
    transform-origin: 50% 50%;
}

.open rect:nth-child(2),
.open rect:nth-child(3) {
    transition-delay: 0.2s;
}

header rect:nth-child(2),
rect:nth-child(3) {
    transition-delay: 0s;
}


.open rect:first-child {
    transform: translateY(30px);
    opacity: 0;
}

.open rect:nth-child(2) {
    transform: rotate(45deg);
}

.open rect:nth-child(3) {
    transform: rotate(-45deg);
}

.open rect:last-child {
    transform: translateY(-30px);
    opacity: 0;
}




/************ search bar ************/

.search-box {
    position: absolute;
    top: 15px;
    right: 180px;
    padding: 5px;
    /*    margin: 7px;*/
    transform: translate(-50%, -50%) height: 25px;
    border-radius: 25px;
    background: darkgray;
}

.search-box:hover > .search-txt {
    width: 140px;
    padding: 6px 6px;
}

.search-box:hover > .search-btn {
    background: black;
}

.search-btn {
    color: white;
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 10px;
    line-height: 20px;
    width: 0px;
    transition: 0.4s;

}





/********** cover Image and text in header ************/

header .mainheader {
    /* padding: 0 100px; */

    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(10, 8vh);
    grid-row-start: 2;
    display: grid;
    grid-column-start: 1;
    grid-column-end: -1;
}



header > .mainheader h1 {
    font-size: 3.8rem;
    width: 60%;
    height: auto;
    margin-left: 50px;
    margin-top: 20px;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 1;

}

.border {
    width: 100%;
    height: 150px;
    border-left: 10px solid;
    border-top: 10px solid;
    border-bottom: 10px solid;
    position: relative;

    color: #D1A343;
    margin-left: 50px;

    grid-column-start: 2;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end: 8;
}

.borderP {
    width: 80%;
    height: auto;

    position: relative;
    top: -115px;
    margin-left: 70px;
    margin-top: 50px;
    font-size: 1.4rem;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 7;
    grid-row-end: 10;
}

button {
    background-color: #ADE5DF;
    height: 70px;
    border-radius: 3rem;
    color: white;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 30px;
    border-style: none;

    margin: 5px 5px;
    opacity: 0.8;
    cursor: pointer;


    cursor: pointer;

    margin-right: 100px;


    grid-column-start: 9;
    grid-row-start: 5;
    /*    grid-row-end: ;*/
}

.coverimg {
    height: auto;
    width: 100%;
    grid-column-start: 6;
    grid-column-end: -1;
    grid-row-start: 1;

    height: 900px;

}

.coverimg img {
    max-width: 100%;
    height: auto;
}

/******* main ********/

main {
    display: flex;
    flex-direction: column;
}

main .events-list-title {
    display: flex;
    width: 40%;
    margin-left: 100px;
    margin-bottom: 50px;
    align-items: baseline;
    justify-content: space-between;
    color: #878081;
    flex-wrap: wrap;
    border-bottom: 1px solid;

}


main > .cards-wrapper {


    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    grid-gap: 4rem;
    padding: 100px;
    padding-top: 0;
    position: relative;
    z-index: 10;
}

main > .cards-wrapper .calendar-card {
    background: #e7f1f3;
    /*    height: 300px;*/
    padding: 10px;
}

main > .cards-wrapper .calendar-card .card-details {
    padding: 5px;
}

main > .cards-wrapper .calendar-card .card-details p {
    font-size: 0.8rem;
    text-transform: capitalize;
}

main > .cards-wrapper .calendar-card .card-header img {
    max-width: 100%;
    height: auto;
}

main > .cards-wrapper .calendar-card .arrow-button img {
    max-width: 60%;
    height: auto;
    margin-top: 20px;

}



/**** artists *****/

.artistscoverimg img {
    width: 100%;
    left: 27%;

}

main .bottom-box {
    border: 5px #d1a343 solid;
    border-top: none;
    width: 90%;

    height: 200px;
    justify-content: center;
    align-self: center;
    margin-top: -200px;
    margin-bottom: 100px;
    z-index: 1;
    position: relative;
}

main .bottom-box > h2 {
    position: absolute;
    bottom: 0px;
    right: 200px;
    z-index: 10
}


/**** artists *****/

.artistscoverimg img {
    width: 100%;
    left: 27%;
}


.mainartists .border {
    width: 300px;
    height: 150px;
    border: 10px #d1a343 solid;
    border-right: none;
    position: absolute;
    top: 120px;
    left: 10%;
}

.mainartists h1 {
    font-family: arial black, sans-serif;
    font-size: 70px;
    width: 70%;
    height: auto;
    color: white;
    margin-left: 13%;
    position: absolute;
    top: 85px;
}

h2.artiststitle {
    font-size: 50px;
    margin-left: 100px;
}

.card-container {
    width: 300px;
    height: 400px;
    background-color: #e7f1f3;
    margin: 5%;
}

img.artist {
    width: 250px;
    height: auto;
    position: relative;
    margin: 6%;

}

.artist-short-info {
    width: 80%;
    margin: 7%;
    position: relative;

}

.arrow-button {
    width: 40%;
    height: auto;
    margin: 10%;
    padding-top: 5%;

}

.bottom-box h2 {
    position: absolute;
    bottom: -5px;
    right: 100px;

}


.allartists .bottom-box {
    border: 10px #d1a343 solid;
    border-top: none;
    width: 98%;
    height: 100px;
    justify-content: center;
    align-self: center;
    z-index: 1;
    position: relative;
    margin: 0 1% 0 1%;
    top: -100px;
}



@media screen and (max-width: 1000px) {

    header .mainheader {


        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(10, 8vh);


    }



    header > .mainheader h1 {
        font-size: 3.2rem;
        width: 60%;
        margin-left: 0;
        grid-column-start: 1;
        grid-column-end: 7;
        grid-row-start: 1;

    }

    .border {

        margin-left: 0;

        grid-column-start: 1;
        grid-column-end: 8;
        grid-row-start: 5;
        grid-row-end: 8;
    }

    .borderP {
        width: 70%;

        margin-left: 20px;
        margin-top: 50px;
        font-size: 1.2rem;
        grid-column-start: 1;
        grid-column-end: 7;
    }

    button {


        margin-right: 0;


        grid-column-start: 10;

    }

    .search-box {

        right: 120px;

    }


}


@media screen and (max-width: 800px) {


    body {
/*
        grid-template-areas:
            "header header header header header header"
            ". main main main main ."
            ". footer footer footer footer .";
*/

        margin: 0;
        padding: 0;
    }

    .search-box {

        right: 100px;

    }


    header {
        background-image: url("img/coverphoto.jpg");
        background-size: cover;
    }

    header .mainheader {


        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(10, 8vh);


    }



    header > .mainheader h1 {
        font-size: 3rem;
        width: 100%;
        margin-left: 0;
        grid-column-start: 5;
        /*    grid-column-end: 7;*/
        grid-row-start: 1;

    }

    .border {
        margin-top: 20px;
        margin-left: 0;
        height: 140px;
        grid-column-start: 5;
        grid-column-end: 10;
        grid-row-start: 4;
        grid-row-end: 8;
        width: 100%;
    }

    .borderP {
        width: 100%;

        margin-left: 20px;
        margin-top: 10px;
        font-size: 1.2rem;
        grid-column-start: 5;
        grid-column-end: 10;
    }

    button {


        margin-right: 0;


        grid-column-start: 5;
        grid-row-start: 8;

    }

    .coverimg {
        display: none;
        filter: brightness(0.4);

    }

}

@media screen and (max-width: 500px) {


    body {
        overflow-x: hidden;
        grid-template-areas:
            "header header header header header header"
            ". main main main main ."
            ". footer footer footer footer .";

        margin: 0;
        padding: 0;
    }




    header {
        background-image: url("img/coverphoto.jpg");
        background-size: cover;
    }

    header .mainheader {


        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(10, 8vh);


    }



    header > .mainheader h1 {
        font-size: 3rem;
        width: 100%;
        margin-left: 0;
        grid-column-start: 3;
        /*    grid-column-end: 7;*/
        grid-row-start: 1;

    }

    .border {
        margin-top: 20px;
        margin-left: 0;
        height: 170px;
        grid-column-start: 3;
        grid-column-end: 10;
        grid-row-start: 4;
        grid-row-end: 8;
        width: 100%;
    }

    .borderP {
        width: 100%;

        margin-left: 20px;
        /*    margin-top: -10px;*/
        font-size: 1.2rem;
        grid-column-start: 4;
        grid-column-end: 10;
        grid-row-start: 7;
    }

    button {


        margin-right: 0;


        grid-column-start: 5;
        grid-row-start: 8;

    }

    .coverimg {
        display: none;


    }

    header > .navigation-bar {
        position: fixed;
        bottom: 0;
        right: 0;
        z-index: 120;
        width: 100%;
        cursor: pointer;
        display: flex;
        background: white;
        height: 60px;
        justify-content: flex-end;
        height:
    }

    header > .navigation-bar .burger {
        margin-right: 10px;
    }

    .search-box {
        top: 15px;
        right: 80px;
    }

    header .logo {

        width: 100vw;
        height: 300px;
        margin: 0px;
    }

    header > .logo-wrapper {
        grid-column-start: 1;
        grid-column-end: 12;

    }
}
