
@font-face {
    font-family: josefinsans;
    src: url(josefinsans.giff);
}


header section {
    font-family: arial black, sans-serif;
    margin-left: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}


* {
    box-sizing: border-box;
}


body {
    font-family: Josefin sans;
    margin: 0;
}
main{
    display: flex;
    flex-direction: column;
}
main .events-list-title{
    display: flex;
        padding-left: 100px;
    width: 40%;
    align-items: baseline;
    justify-content: space-between;
    color: #878081;

}
main > #cards-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));

    grid-gap: 4rem;
    padding: 100px;
    padding-top: 0;
    position: relative;
    z-index: 10;
}

main > #cards-wrapper .calendar-card {
    background: #e7f1f3;
    /*    height: 300px;*/
    padding: 10px;
}

main > #cards-wrapper .calendar-card .card-details {
    padding: 5px;
}

main > #cards-wrapper .calendar-card .card-details p {
    font-size: 0.8rem;
    text-transform: capitalize;
}

main > #cards-wrapper .calendar-card .card-header img {
    max-width: 100%;
    height: auto;
}

main > #cards-wrapper .calendar-card .arrow-button img {
    max-width: 60%;
    height: auto;
    margin-top: 20px;
}
main .bottom-box{
   border: 5px #d1a343 solid;
border-top: none;
    width: 90%;
    height: 200px;
    justify-content: center;
    align-self: center;
    margin-top: -200px;
    margin-bottom: 100px;
    z-index: 1;
}
main .bottom-box h2{
 position: absolute;
    bottom: -20px;
    right: 270px;
}

html {
    padding: 0;
    margin: 0;
    overflow-x: hidden;

}

header {
    margin: 1rem;
    display: grid;
    grid-template-columns: repeat(12, 1fr);

}


header svg {
    grid-column: 12/-1;
    justify-items: end;
    width: 35px;
    margin: 10px;
}

header .logo {
    grid-column: 1/1;
    background-image: url(LogoImage/KopenhagenArt_logo-01.svg);
    background-repeat: no-repeat;
    width: 300px;
    height: 50px;
    margin: 0px;
}

/********Navigation ********/
header nav a {
    font-size: 2rem;
    display: block;
    text-decoration: none;
    color: black;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 3rem;
    transition: color 0.2s 0.1s;
    z-index: 100;

}

header nav a:hover {
    color: gray;
}

header nav .active {
    font-weight: bold;
}

.mainheader {
    display: grid;
}

h1 {
    font-size: 50px;
    width: 50%;
    height: auto;
    position: relative;
    display: grid;

}

.border {
    width: 100%;
    height: 100px;
    border-left: 10px solid;
    border-top: 10px solid;
    border-bottom: 10px solid;
    position: relative;
    display: grid;
    color: #D1A343;
    }

header nav {
    position: absolute;
    right: -100vw;
    top: 100px;
    z-index: 100;
    background: white;
    width: 100vw;
    height: calc(100vh - 100px);
    padding: 4rem;
    transition: transform 1s;
}

header nav.open {
    transform: translateX(-100vw);
}

/********** Burger *********/

svg rect {
    transition: all 0.2s;
    transform-origin: 50% 50%;
}

.open rect:nth-child(2),
.open rect:nth-child(3) {
    transition-delay: 0.2s;
}

header rect:nth-child(2),
rect:nth-child(3) {
    transition-delay: 0s;

}

.borderP {
    width: 70%;
    height: auto;
    margin-left: 15%;
    font-family: josefinsans;
    position: relative;
    display: grid;
    top: -100px;
}

button {
    background-color: #ADE5DF;
    border-radius: 3rem;
    color: white;
    padding: 20px 20px;
    text-decoration: none;
    font-size: 30px;
    font-family: josefinsans;
    margin: 5px 5px;
    opacity: 0.8;
    position: absolute;
    display: grid;
    top: 40%;
    left: 57%;

}

.coverimg {
    width: 120%;
    height: auto;
    position: absolute;
    display: grid;
    left: 27%;
    top: 5%;
}


.open rect:nth-child(2) {
    transform: rotate(45deg);
}

.open rect:nth-child(3) {
    transform: rotate(-45deg);
}

.open rect:last-child {
    transform: translateY(-30px);
    opacity: 0;
}


/************ search ************/

.search-box {
    position: absolute;
    left: 245px;
    padding: 5px;
    margin: 7px;
    transform: translate(-50%, -50%) height: 25px;
    border-radius: 25px;
    background: darkgray;
}

.search-box:hover > .search-txt {
    width: 140px;
    padding: 0 6px;
}

.search-box:hover > .search-btn {
    background: black;
}

.search-btn {
    color: white;
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: gray;
    display: flex;
    justify-content: center;
    align-items: center;

}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 10px;
    line-height: 20px;
    width: 0px;
    transition: 0.4s;

}

